extends ./layout

block header
    include ./blocks/header

block contacts
    include ./blocks/contacts

block skills
    include ./blocks/skills

block history
    include ./blocks/history

block education
    include ./blocks/education

block hobbies
    include ./blocks/hobbies

block footer
    include ./blocks/footer
