.row
    div.col-lg-6
        h2 Contacts

        address
            | City, Country?
            br
            | %tel%
            br
            a(href='mailto:') email
            br

            a(href='https://github.com/r3nya') github.com/r3nya
            br

            a(href='https://twitter.com/r3nya') @r3nya

    div.col-md-3.col-md-offset-3
        img(src='haha', class='photo')
