.row
    div
        h2 Employment History

        ul
            li
                h4 JS developer/Team leader at&nbsp;
                    a(href='http://r3nya.ru') Freelancer
                    |  (06/2014 – present) [part-time]

                +responsibilities([
                    'Node.js',
                    'React.js',
                    'Redux',
                    'Webpack',
                    'Git'
                ])

            li
                h4 UI/Frontend developer at&nbsp;
                    a(href='') BigCompany
                    |  (03/2015 – present)

                +responsibilities([
                    'HTML/CSS',
                    'JavaScript',
                    'Grunt',
                    'Sass',
                    'BEM',
                    'requireJS',
                    'Linux'
                ])
