.row
    div
        h2 Hobbies / Interests
        ul
            li Organization meetups in&nbsp;
                a(href="http://it52.info/") it52
            li Coordinator of&nbsp;
                a(href='http://nnrug.ru') Nizhny Novgorod Ruby programmers group
            li Bicycle, Music, Cat ... :)
