.row
    div
        h2 Technical Skills

        ul
            +skill-item('JavaScript/Node.js/jQuery:', [
                    'Experienced with both client- and server-side javascript.',
                    'jQuery',
                    'Templates: Jade, Handlebars, Mustache',
                    'Awesome experience with React.js',
                    'Some experience with Angular.js, Ember.js, Socket.io',
                    'NPM, Bower, Gulp, Grunt, Webpack',
                    'Browserify, Yeoman, PostCSS'
                ])

            +skill-item('Ruby/Ruby on Rails')

            +skill-item('HTML/CSS', [
                    'HTML5, CSS3',
                    'Bootstrap, Foundation',
                    'LESS, Stylus, SASS/SCSS, PostCSS'
                ])

            +skill-item('Testing:', [
                    'Small experience using Rspec, Capybara and Selenium',
                    'Mocha.js, Chai.js'
                ])

            +skill-item('Linux:', [
                    'Shell Scripting',
                    'Different deployment stacks (Ansible, Chef, Capistrano, Mina, etc)',
                    'Web-servers: Nginx, Apache, Thin, Unicorn, etc'
                ])

            +skill-item('SQL:', [
                    'Mysql, PostgreSQL. Performance optimizations, indexing.'
                ])

            +skill-item('NoSQL:', [
                    'MongoDB, Redis'
                ])

            +skill-item('API:', [
                    'vk.com, instagram, fb.com, twitter, imgur, etc'
                ])

            +skill-item('Revision control software:', [
                    'Git, Mercurial, ClearCase, Subversion'
                ])

            +skill-item('And more', [
                    'HTTP & tcp/ip protocols'
                ])
